<div class="top-[-800px] h-[800px] absolute w-full">
  <div
    class="h-full bg-bottom bg-contain bg-repeat-x w-full absolute z-10"
    style="background-image: var(--bg-1)"
  ></div>
  <div
    class="h-full bg-bottom bg-contain bg-repeat-x w-full absolute z-20"
    style="background-image: var(--bg-2)"
  ></div>
  <div
    class="h-full bg-bottom bg-contain bg-repeat-x w-full absolute z-30"
    style="background-image: var(--bg-3)"
  ></div>
</div>
<div class="ground relative z-40 w-full h-8 xs:h-16"></div>