<div class="sky-bg">
  <div style="background-image: var(--bg-1)"></div>
  <div style="background-image: var(--bg-2)"></div>
  <div style="background-image: var(--bg-3)"></div>
</div>
<div class="ground"></div>
