<div class="decoration hidden md:block"></div>
<img
  class="dino dino-duo absolute"
  src="/img/duosaurus.png"
  alt="Kaksi dinoa"
/>
<img
  class="dino dino-solo absolute"
  src="/img/bluesaurus.png"
  alt="Yksi dino"
/>