<div class="dinos-bg" style="background-image: var(--decoration)"></div>
<img class="dinos dinos-two" src="/img/duosaurus.png" alt="Kaksi dinoa" />
<img class="dinos dinos-one" src="/img/bluesaurus.png" alt="Yksi dino" />
