<div
  class="hidden xs:block absolute right-0 top-[-104px] w-14 h-10"
  style="background-image: var(--decoration)"
></div>
<img
  class="absolute h-[34px] xs:h-[68px] top-[-64px] xs:top-[-132px]"
  src="/img/duosaurus.png"
  alt="Kaksi dinoa"
/>
<img
  class="absolute h-[34px] xs:h-[68px] top-[-78px] xs:top-[-155px] left-[100px] xs:left-[200px]"
  src="/img/bluesaurus.png"
  alt="Yksi dino"
/>
