  <footer class="footer pb-16 flex flex-col items-center justify-center">
    <img class="quality-seal mb-8" src="/img/seal.png" alt="Seal of quality" />
    <div class="flex gap-4">
      <a href="{{ global.itunesUrl }}">
        <img
          class="h-8"
          src="/img/itunes.svg"
          alt="{{ global.title }} Apple Podcastsissa"
        />
      </a>
      <a href="{{ global.overcastUrl }}">
        <img
          class="h-8"
          src="/img/overcast.svg"
          alt="{{ global.title }} Overcastissa" />
      </a>
      <a href="{{ global.pocketCastsUrl }}">
        <img
          class="h-8"
          src="/img/pocketcasts.svg"
          alt="{{ global.title }} Pocket Castsissa"
        />
      </a>
    </div>
  </footer>