  <footer class="footer">
    <div class="footer-container">
      <a href="{{ global.itunesUrl }}">
        <img src="/img/itunes.svg" alt="{{ global.title }} Apple Podcastsissa" />
      </a>
      <a href="{{ global.overcastUrl }}">
        <img src="/img/overcast.svg" alt="{{ global.title }} Overcastissa" />
      </a>
      <a href="{{ global.pocketCastsUrl }}">
        <img src="/img/pocketcasts.svg" alt="{{ global.title }} Pocket Castsissa" />
      </a>
    </div>
  </footer>
