<header class="header">
  <div class="header-container">
    <a href="/">
      <img class="logo" src="/img/text-logo.png" alt="{{ global.title }}" />
    </a>
    <img
      class="gamepad"
      src="/img/gamepad.png"
      alt="Peliohjain"
      onclick="toggleTheme()"
    />
  </div>
</header>
