<header class="px-10 py-5 bg-black">
  <div
    class="w-full max-w-screen-xl m-auto relative flex justify-center md:justify-start"
  >
    <a href="/">
      <img class="w-64" src="/img/text-logo.png" alt="{{ global.title }}" />
    </a>
    <img
      class="gamepad filter drop-shadow-lg transform rotate-[7deg] absolute z-50 hidden md:block w-[280px] right-10 top-8"
      src="/img/gamepad.png"
      alt="Peliohjain"
      onclick="toggleTheme()"
    />
  </div>
</header>