<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ global.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ global.title }} RSS" href="{{ global.url }}{{ global.feedpath }}">
    <script>
      let isDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        isDark = e.matches ? "dark" : "light";
      });
      function toggleTheme() {
        isDark = !isDark;
        const root = document.documentElement;
        root.style.setProperty('--sky-bg', `var(--${isDark ? 'dark' : 'light'}-sky)`);
        root.style.setProperty('--episodes-bg', `var(--${isDark ? 'dark' : 'light'}-bg)`);
        root.style.setProperty('--bg-1', `var(--${isDark ? 'dark' : 'light'}-bg-1)`);
        root.style.setProperty('--bg-2', `var(--${isDark ? 'dark' : 'light'}-bg-2)`);
        root.style.setProperty('--bg-3', `var(--${isDark ? 'dark' : 'light'}-bg-3)`);
        root.style.setProperty('--border-tile', `var(--${isDark ? 'dark' : 'light'}-tile)`);
        root.style.setProperty('--ground-tile', `var(--${isDark ? 'dark' : 'light'}-ground)`);
        root.style.setProperty('--text', `var(--${isDark ? 'dark' : 'light'}-text)`);
        root.style.setProperty('--text-shadow', `var(--${isDark ? 'dark' : 'light'}-text-shadow)`);
        root.style.setProperty('--text-contrast', `var(--${isDark ? 'dark' : 'light'}-text-contrast)`);
        root.style.setProperty('--text-transparent', `var(--${isDark ? 'dark' : 'light'}-text-transparent)`);
        root.style.setProperty('--decoration', `var(--${isDark ? 'dark' : 'light'}-decoration)`);
        root.style.setProperty('--focus', `var(--${isDark ? 'dark' : 'light'}-focus)`);
        root.style.setProperty('--episode-bg', `var(--${isDark ? 'dark' : 'light'}-episode-bg)`);
      }
    </script>
    <script type="module" src="/scripts/podcast-player.js"></script>
  </head>

  <body class="flex flex-col min-h-screen justify-between relative z-50 bg-sky text-text light-bg">
    <header class="px-10 py-5 bg-black flex relative justify-center md:justify-start">
      <a href="/">
        <img class="w-64" src="/img/text-logo.png" alt="{{ global.title }}" />
      </a>
      <img
        class="gamepad filter drop-shadow-lg transform rotate-[7deg] absolute z-50 hidden md:block w-[280px] right-10 top-8"
        src="/img/gamepad.png"
        alt="Peliohjain"
        onclick="toggleTheme()"
      />

    </header>

    {{ content | safe }}

  </body>
</html>
