<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  </head>
  <body>
    <header class="text-green-500">
      Title:
      {{ title }}
    </header>
    <main class="p-12">
      {{ content | safe }}
    </main>
  </body>
</html>