---
layout: layouts/base.njk
---

<main class="relative">
  <div class="relative z-40 pt-20 sm:pt-40">
    <section class="latest-episode mb-8 md:mb-52 mx-2 sm:mx-auto p-2 sm:p-4 sm:max-w-xl relative z-50">
      {% include '_dinos.njk' %}
      <h3 class="mt-4 font-bold text-center">
        {{ media.episode }}.
        {{ media.title | safe }}
      </h3>

      <div class="max-w-lg mx-auto my-8">
        <podcast-player>
          <audio
            controls="controls"
            preload="none"
            width="100%"
            src="{{ media.data.media.content }}"
          ></audio>
        </podcast-player>
      </div>

      <div class="shownotes mt-4 space-y-2">
        {{ content | safe }}
      </div>
    </section>

    <div class="relative z-10">
      {% include '_bg.njk' %}

      <section class="episodes relative z-40 px-12 py-8"></section>
    </div>
  </div>
  {% include '_footer.njk' %}
</main>
