---
layout: layouts/skeleton-base.njk
---

<head>
  {% include '_common-head.njk' %}

  <title>{{ media.episode }}. {{ media.title }} - {{ global.title }}</title>
  <meta name="title" content="{{ media.episode }}. {{ media.title }}" />
  <meta name="description" content="{{ media.summary }}" />
  <meta property="og:title" content="{{ media.episode }}. {{ media.title }}" />
  <meta property="og:description" content="{{ media.summary }}" />
  <meta property="og:url" content="{{ global.url }}/{{ media.episode }}" />
  <meta property="og:image" content="{{ global.url }}{{ global.image }}" />
  <meta property="og:type" content="website" />
  <meta
    property="twitter:title"
    content="{{ media.episode }}. {{ media.title }}"
  />
  <meta property="twitter:description" content="{{ media.summary }}" />
  <meta property="twitter:url" content="{{ global.url }}/{{ media.episode }}" />
  <meta property="twitter:image" content="{{ global.url }}{{ global.image }}" />
  <meta property="twitter:card" content="summary_large_image" />
</head>

<body class="body">
  {% include '_header.njk' %}

  <main class="main">
    <div class="container">
      <section class="latest-episode">
        {% include '_dinos.njk' %}
        <h1 class="title">
          {{ media.episode }}.
          {{ media.title | safe }}
        </h1>

        <div class="player">
          <podcast-player>
            <audio
              controls="controls"
              preload="none"
              width="100%"
              src="{{ media.content }}"
            ></audio>
          </podcast-player>
        </div>

        <div class="shownotes">
          {{ content | safe }}
        </div>
      </section>

      <div class="background">
        {% include '_bg.njk' %}
      </div>
    </div>
  </main>

  {% include '_footer.njk' %}
</body>
