---
layout: layouts/base.njk
---

<div class="space-y-8">

{% set episodes = collections.episodes %}

<ul>
  {% for episode in episodes %}
    <li>
      <strong>
        <a href="{{ episode.url | url }}">{{ episode.data.title }}</a>
      </strong>
      -
      <time datetime="{{ episode.date | htmlDateString }}">{{ episode.date | readableDate }}</time>
      -
      <span>{{ episode.data.summary }}</span>
      <p>{{ episode.content | safe }}</p>
    </li>
  {% endfor %}
</ul>

</div>
